
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load static %} <script src="{%static "jquery.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>

<script src="/static/liHighLight.js" type=text/javascript></script>

<br>
<span><strong> Импульсные приборы | Прогрузка</strong> </span>
<br><br>

<p>
 <div class="meters_change_block">
        <span><strong>Загрузка портов &nbsp;</strong></span>
        <span onclick="load_service('load_water_port')" class="button" id="tcp-ip-port-button">Загрузить</span> &nbsp;{{tcp_ip_status}}
		<br>
        <br><br>
		<span><strong>Загрузка Абонентов и счётчиков &nbsp;</strong></span>
        <span onclick="load_service('load_water_objects')" class="button" id="object_load_button">Загрузить</span> &nbsp;{{object_status}}
		<br>
        <br><br>
		<span><strong>Загрузка  Пульсаров&nbsp;</strong></span>
        <span onclick="load_service('load_water_pulsar')" class="button" id="pulsar_load_button">Загрузить</span> &nbsp;{{counter_status}}
    </div>
<p>	
	<p>
	<div class="meters_change_block">
	<p>	
	&nbsp; &nbsp;&nbsp;&nbsp; <a class="button" href ="../../service/get_water_impulse_template/"> Образец прогрузочного файла по воде </a></span>
	<p>
	</div>
</form>
<br>
<br>
<br>
