
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load static %} <script src="{%static "libs/jquery.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>

<form>
<input type=hidden id="file_name" value={{choice_file}}>
<input type=hidden id="sheet_name" value={{choice_sheet}}>
</form>
<br>
<div class = "container radius"  style="border-radius: 10px 40px">
<div class = "row"  >
	<div class = "col" id = "blue-style"><h5><strong> Цифровые приборы | Прогрузка</strong> </h5></div>
</div>
<br><br>
<div class = "row justify-content-start align-items-center" >
	<div class = "col-4"> <strong>Загрузка портов</strong> </div>
	<div class = "col-1"> <span onclick="load_service('load_tcp_ip')" class="button" id="tcp-ip-port-button">Загрузить</span> </div>
	<div class = "col-7"> {{tcp_ip_status}}</div>
</div>
<br><br>
<div class = "row justify-content-start align-items-center" >
	<div class = "col-4"> <strong>Загрузка Объектов и Абонентов</strong> </div>
	<div class = "col-1"> <span onclick="load_service('load_electric_objects')" class="button" id="object_load_button">Загрузить</span> </div>
	<div class = "col-7"> {{object_status}}</div>
</div>
<br>
<div class = "row">
<div class = "col"><img src="{%static "images/question2-ico20.png" %}" title ="Для электрических ПУ: Если необходимо получение из прибора Получасовых профилей мощности и/или Реактивной энергии, сделайте отметки в прогрузочной ведомости. Для квартир рекомендуем НЕ выбирать данные параметры, т.к. это будет увеличивать размеры БД и снижать скорость работы." ></div></div>
<div class = "row justify-content-start align-items-center" >
	<div class = "col-4"> <strong>Загрузка  счётчиков </strong> </div>
	<div class = "col-1"> <span onclick="load_service('load_electric_counters')" class="button" id="counter_load_button">Загрузить</span> </div>
	<div class = "col-7"> {{counter_status}}</div>
	<br>
</div>
<br><br>
</div>
<br>
<div class = "container radius"  style="border-radius: 10px 40px">
<br>
<div class = "row">
	<div class = "col-5"><strong>Загрузка данных для отчёта по форме 80020</strong></div>
	<div class = "col-1"> <span onclick="load_service('load_80020_group')" class="button" id="counter_load_button">Загрузить</span>  </div>
</div>
<div class = "row">
	<div class = "col-11">
		{% for value in 80020_status %}
            <br> {{value}} 
        {% endfor %}	
	</div>
</div>
<br>
</div>
<br>
<div class = "container radius"  style="border-radius: 10px 40px">
<div class = "row"  >
	<div class = "col" id = "blue-style"><h5><strong> Образцы</strong> </h5></div>
</div>
<br>
<div class = "row justify-content-start align-items-center">
	<div class = "col-5"><strong>Образец прогрузочного файла по электрике</strong> </div>
	<div class = "col-1"><a href ="../../service/get_electric_template/"> <img  src="{%static "images/save-ico48.png" %}" data-toggle="tooltip" data-placement="top" title="Образец прогрузочного файла по электрике"></a></div>
</div><br>
<div class = "row justify-content-start align-items-center">
	<div class = "col-5"><strong>Образец прогрузочного файла по теплу</strong></div>
	<div class = "col-1"><a href ="../../service/get_heat_template/"> <img src="{%static "images/save-ico48.png" %}" data-toggle="tooltip" data-placement="top" title="Образец прогрузочного файла по теплу"></a></div>
</div><br>
<div class = "row  justify-content-start align-items-center">
	<div class = "col-5"><strong>Образец прогрузочного файла по воде</strong></div>
	<div class = "col-1"><a href ="../../service/get_water_digital_template/"> <img src="{%static "images/save-ico48.png" %}" data-toggle="tooltip" data-placement="top" title="Образец прогрузочного файла по воде"></a></div>
</div><br>
<div class = "row  justify-content-start align-items-center">
	<div class = "col-5"><strong>Образец прогрузочного файла для отчёта по форме 80020</strong></div>
	<div class = "col-1"><a href ="../../service/get_80020_template/"> <img src="{%static "images/save-ico48.png" %}" data-toggle="tooltip" data-placement="top" title="Образец прогрузочного файла для отчёта по форме 80020"></a></div>
</div><br>
</div>



<br>
 	
