{% load static %}
<div class="form-card">
    <div class="form-card-title">📂 Загрузка файла на сервер</div>
    <form enctype="multipart/form-data" method="post" action="/service/service_file_loading/" id="form_load">
        {% csrf_token %}
        <div class="file-input-wrapper">
            <input type="file" accept=".xls,.xlsx" id="id_path" name="path">
            <div class="file-input-label">Выберите файл</div>
            <div class="file-input-label-text">или перетащите его сюда</div>
        </div>
        <input type="submit" id="file-load" name="file-load" value="Загрузить" class="btn-submit">
        <div class="status-message">
            <strong></strong>
        </div>
    </form>
</div>