
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load static %} <script src="{%static "jquery.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>

<script src="/static/liHighLight.js" type=text/javascript></script>

<br>
<span><strong> Приборы | Настройки</strong> </span>
<br><br>

<p>
 <div class="meters_change_block">
 &nbsp;&nbsp; Создать Паспорт объекта по ресурсу
		<br><br>
        &nbsp;&nbsp;&nbsp; <a class="button" href ="../../service/get_electric_progruz/"> Электрика </a></span> 
		<br><br>
        &nbsp;&nbsp;&nbsp; <a class="button" href ="../../service/get_water_progruz/"> Вода </a></span> 
		<br><br>
		&nbsp;&nbsp;&nbsp; <a class="button" href ="../../service/get_water_impulse_progruz/"> Вода импульсные ПУ </a></span> 
		<br><br>   
		&nbsp;&nbsp;&nbsp; <a class="button" href ="../../service/get_heat_progruz/"> Тепло </a></span> 
    
		<br><br> 	 	

    </div>
<br>
<!-- <div class="meters_change_block">
<br>
  <span><strong>&nbsp;&nbsp; Добавить воможность считывания Текущих параметров для счётчиков типа: </strong></span>
<br><br>

        &nbsp;&nbsp; <span onclick="load_service('add_current_taken_params_pulsar16m')" class="button" id="current-pulsar-add-button">Пульсар 16М/10М</span> &nbsp;{{pulsar16m_status}}
		<br>
		<br>
		<br>
    </div> -->
	
</form>
<br>
<br>
<br>
