{% load static %}
<div class="row align-items-center">
    {% if filesFF %}
    <div class="col-auto">
        <label for="choice_file"><strong>Выберите файл</strong></label>
    </div>
    <div class="col">
        <select onchange="change_wb();" name="choice_file" id="choice_file" class="custom-select">
        <option value="0">Выберите файл...</option>
        {% for f in filesFF %}
            {%if f == choice_file%}
            <option selected value='{{f}}'>{{f}}</option>
            {%else%}
            <option value='{{f}}'>{{f}}</option>
            {%endif%}
        {% endfor %}
        </select>
    </div>
    {% else %}
    <div class="col">
        <div class="alert alert-warning" role="alert">
            <strong>Файлы для загрузки не найдены.</strong> Пожалуйста, загрузите файлы конфигурации в папку `service/static/cfg/`.
        </div>
    </div>
    {% endif %}
</div>
