
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load static %} <script src="{%static "libs/jquery.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>

<script src="/static/libs/liHighLight.js" type=text/javascript></script>

<br>
<div class = "container radius"  style="border-radius: 10px 40px">
<div class = "row"  >
	<div class = "col" id = "blue-style"><h5><strong> Удаление приборов по прогрузочной ведомости</strong> </h5></div>
</div>
<br><br>
<div class = "row justify-content-start align-items-center" >
	<div class = "col-4"> <strong>Вы уверены, что хотите удалить ПУ из выбранного файла?</strong> </div>
	<div class = "col-1"> <span onclick="load_service('del_meters')" class="button" id="del-meters-button">Удалить </div>
	
</div>
<div class = "row">
	<div class = "col-11">
		{% for value in del_status %}
            <br> {{value}} 
        {% endfor %}	
	</div>
</div>
<br>
<br>
<br>