{% load static %}
<div class="tab-container">
    <h3 class="form-card-title">Информация по приборам в БД</h3>
    <div class="info-list">
        <a href="../../service/get_electric_progruz/">
            <img src="{% static 'images/save-ico48.png' %}" alt="Электрика">
            <span><strong>Электрика</strong></span>
        </a>
        <a href="../../service/get_electric_progruz_com/">
            <img src="{% static 'images/save-ico48.png' %}" alt="Электрика по COM-порту">
            <span><strong>Электрика по COM-порту</strong></span>
        </a>
        <a href="../../service/get_water_progruz/">
            <img src="{% static 'images/save-ico48.png' %}" alt="Вода цифровые ПУ">
            <span><strong>Вода цифровые ПУ</strong></span>
        </a>
        <a href="../../service/get_water_impulse_progruz/">
            <img src="{% static 'images/save-ico48.png' %}" alt="Вода импульсные ПУ">
            <span><strong>Вода импульсные ПУ</strong></span>
        </a>
        <a href="../../service/get_heat_progruz/">
            <img src="{% static 'images/save-ico48.png' %}" alt="Тепло">
            <span><strong>Тепло</strong></span>
        </a>
    </div>
</div>