
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load static %} <script src="{%static "jquery.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>

<script src="/static/libs/liHighLight.js" type=text/javascript></script>

<br>
<span><strong> Балансные группы | Прогрузка</strong> </span>
<br><br>

<p>
 <div class="meters_change_block">
        <span><strong>Загрузка балансной группы &nbsp;</strong></span>
        <span onclick="load_service('load_balance_group')" class="button" id="balance-button">Загрузить</span> &nbsp;{{balance_status}}
		<br>
</div>
<p>
<p>
 <div class="meters_change_block">
        <p>
	&nbsp; &nbsp;&nbsp;&nbsp; <a class="button" href ="../../service/get_balance_template/"> Образец прогрузочного файла для создания балансной группы </a></span>
</div>

</form>
<br>
<br>
<br>
