<html>
    <head>
    </head>
    <body>
<script src="/static/liHighLight.js" type=text/javascript></script>
<span>Показания электроэнергии на начало суток <strong>{{date_end}}</strong> по 3-ём тарифам</span>
<br>
<br>

{% if dt_electric %}
<table class="content" id="data-table" >
<tr>
<th>Счётчик</th>
<th>T0 A+, кВт*ч</th>
<th>T1 A+, кВт*ч</th>
<th>T2 A+, кВт*ч</th>
<th>T3 A+, кВт*ч</th>
</tr>
{% for value in dt_electric %}
<tr>
<td>{{value.4}}</td>
<td>{{value.6}}</td>
<td>{{value.7}}</td>
<td>{{value.8}}</td>
<td>{{value.9}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<span><strong>Нет данных.</strong></span>
{% endif %}

</div>
<br>
</body>
</html>
