<html>
<head>
<script src="/static/libs/liHighLight.js" type=text/javascript></script>
</head>
<body>
<span>Показания по воде на дату electric_data_end</span>
<br>
<span>Абонент: <strong>{{obj_parent_title}} > {{obj_title}}</strong></span>
<br>
{{progress}}
{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Дата</th>
<th>Абонент</th>
<th>Регистратор импульсов</th>
<th>Счётчик</th>
<th>Тип</th>
<th>Показания</th>

</tr>
{% for value in data_table %}
<tr>
<td>{{value.4}}</td>
<td>{{value.2}}</td>
<td>{{value.3}}</td>
<td>{{value.5}}</td>
<td>{{value.7}}</td>
<td><strong>{{value.5}}</strong></td>

</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong> 

{% endif %}

<br>
* Текущие показания не считываются в автоматическом режиме и представляют собой последние считанные данные в ручном режиме
</body>
</html>
