<html>
<head>
</head>
<body>
<span>Прогрузка балансных групп, в консоли ошибки, елси есть <strong>{{electric_data_end}}</strong></span>
<br>
<span>Абонент: <strong>{{obj_title}}</strong></span>
<br>
{{progress}}
{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Балансная группа</th>
<th>Счётчик</th>
<th>знак</th>

<!--<th>Дата</th>-->

</tr>
{% for value in data_table %}
<tr>
<td>{{value.0}}</td>
<td>{{value.1}}</td>
<td><strong>{{value.2}}</strong></td>
<!--<td>{{value.3}}</td>-->
</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong></span>
<br>
{% endif %}
</body>
</html>
