<html>
<head>
</head>
<body>
<span>Последние показания по ХВС и ГВС за <strong>{{electric_data_end}}</strong></span>
<br>
<span>Абонент: <strong>{{obj_title}}</strong></span>
<br>
{{progress}}
{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Дата</th>
<th>Время</th>
<th>Абонент</th>
<th>Счётчик</th>
<th>Показания ХВС, м3</th>
<th>Показания ГВС, м3</th>
<!--<th>Дата</th>-->

</tr>
{% for value in data_table %}
<tr>
<td>{{value.0}}</td>
<td>{{value.1}}</td>
<td>{{value.2}}</td>
<td>{{value.3}}</td>
<td><strong>{{value.4}}</strong></td>
<td><strong>{{value.5}}</strong></td>
<!--<td>{{value.3}}</td>-->
</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong></span>
<br>
{% endif %}
</body>
</html>
