<html>
    <head>
    </head>
    <body>
<script src="/static/liHighLight.js" type=text/javascript></script>
<span>Баланс по воде (импульсные приборы) c <strong>{{electric_data_start}}</strong> по <strong>{{electric_data_end}}</strong></span>
<br>
<span>Балансная группа: <strong>{{obj_title}}</strong></span>
<br>
<script type="text/javascript">
	{% if AllData %}
    var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
		labels:{{label|safe}},
		datasets: {{AllData|safe}},
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
			xAxes: [{               
            }]
        }
    }
	}
});
	{% endif %}	

	</script>
	<br>
	<br>{% if AllData %}
			<canvas id="myChart" width="300" height="100"></canvas>						
	{% endif %}
	<br>
	
{% if data_table %}
<table class="content" id="data-table">
<tr>
<th>Дата</th>
<th>Потребление за сутки, м3</th>
<th>Подача за сутки, м3</th>
<th>Небаланс, м3</th>
<th>Процент</th>
<th>Опрошено счётчиков</th>

</tr>
{% for value in data_table %}
<tr>
<td>{{value.0}}</td>
<td>{{value.5}}</td>
<td>{{value.6}}</td>
<td>{{value.7}}</td>
<td>{{value.8}} &#037;</td>
<td>{{value.9}}</td>

</tr>
{% endfor %}
</table>

{% else %}
<span><strong>Нет данных.</strong></span>
<br>
{% endif %}
</div>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
