<html>
<head>
<script src="/static/liHighLight.js" type=text/javascript></script>
</head>
<body>
<span>Показания по воде текущие*</span>
<br>
<span>Абонент: <strong>{{obj_title}}</strong></span>
<br>
{{progress}}
{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Абонент</th>
<th>Счётчик</th>
<th>Пульсар</th>
<th>Канал</th>
<th>Показания</th>
<th>Дата</th>
<th>Время</th>

</tr>
{% for value in data_table %}
<tr>
<td>{{value.1}}</td>
<td>{{value.2}}</td>
<td>{{value.3}}</td>
<td>{{value.4}}</td>
<td><strong>{{value.5}}</strong></td>
<td>{{value.0}}</td>
<td>{{value.6}}</td>

<!--<td>{{value.3}}</td>-->
</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong> 

{% endif %}

<br>
* Текущие показания не считываются в автоматическом режиме и представляют собой последние считанные данные в ручном режиме
</body>
</html>
