<!doctype html>

<html>
<head>
<meta charset="utf-8">


{% load static %}	<script src="{%static "libs/calendar/moment.min.js" %}"> </script>
{% load static %}	<script src="{%static "libs/calendar/jquery.min.js" %}"> </script>
{% load static %} <link href="{%static "libs/calendar/fullcalendar.print.css"%}" rel="stylesheet" type="text/css">
{% load static %}	<script src="{%static "libs/calendar/fullcalendar.min.js" %}"> </script>
{% load static %} <link href="{%static "libs/calendar/fullcalendar.css"%}" rel="stylesheet" type="text/css">

{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>

{% load static %} <script src="{%static "libs/jquery.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>
<!-- Alternate skin for datepicker-->
{% load static %} <link href="{%static "libs/jquery-ui/themes/base/jquery-ui.css"%}" rel="stylesheet" type="text/css">


{% load static %}	<script src="{%static "libs/Chart.js" %}"> </script>
{% load static %} <link href="{%static "libs/fancytree/skin-win8/ui.fancytree.css"%}" rel="stylesheet" type="text/css">
{% load static %} <script src="{%static "libs/fancytree/jquery.fancytree-all.min.js" %}" type="text/javascript"></script>

<!-- Monthpicker plugin-->
{% load static %} <script src="{%static "libs/jquery.mtz.monthpicker.js" %}" type="text/javascript"></script>

<!-- Graph plugin-->
{% load static %}	<link href="{%static "libs/flot/examples.css"%}" rel="stylesheet" type="text/css">
{% load static %}  <script src="{%static "libs/flot/jquery.flot.js" %}" type="text/javascript" ></script>
{% load static %}	<script src="{%static "libs/flot/jquery.flot.stack.js" %}" type="text/javascript" ></script>
<!-- Все js наши: -->
{% load static %}	<script src="{%static "common.js" %}" type="text/javascript" ></script>

<title>ПРИЗМЕР|Автоматизированная Система Комплексного Учёта Энергоресурсов	</title>
</head>
<body>
<div id=layout>
    
<div id=left-block>
    <div>
        {% load static %} <img id="logo" src="{%static "images/logo3.jpg" %}" alt="ООО Правильные Измерения">
        <div id="fadingBarsG">
            <div id="fadingBarsG_1" class="fadingBarsG"></div>
            <div id="fadingBarsG_2" class="fadingBarsG"></div>
            <div id="fadingBarsG_3" class="fadingBarsG"></div>
            <div id="fadingBarsG_4" class="fadingBarsG"></div>
            <div id="fadingBarsG_5" class="fadingBarsG"></div>
            <div id="fadingBarsG_6" class="fadingBarsG"></div>
            <div id="fadingBarsG_7" class="fadingBarsG"></div>
            <div id="fadingBarsG_8" class="fadingBarsG"></div>
        </div> 
    </div>
	
  
    <div id="title-structura">
            {% load static %} <a href="../../askue/electric"><img id="electric-ico" src="{{ ico_url_electric }}" alt="Электроучёт"></a>
            {% load static %} <a href="../../askue/water"><img id="water-ico" src="{{ ico_url_water }}" alt="Водоучёт"></a>
            {% load static %} <a href="../../askue/heat"><img id="heat-ico" src="{{ ico_url_heat }}" alt="Теплоучёт"></a>
            {% load static %} <a href="../../askue/gas" ><img id="gas-ico" src="{{ ico_url_gas }}" alt="Учёт газа"></a>
            {% load static %} <a href="../../askue/economic" ><img id="economic-ico" src="{{ ico_url_economic }}" alt="Экономика"></a>            
<!-- 		
            {% load static %} <a href="../../askue/electric"><img id="electric-ico" src="{%static "images/electric-ico36.png" %}" alt="Электроучёт"></a>
            {% load static %} <a href="../../askue/water"><img id="water-ico" src="{%static "images/water-ico36.png" %}" alt="Водоучёт"></a>
            {% load static %} <a href="../../askue/heat"><img id="heat-ico" src="{%static "images/heat-ico36.png" %}" alt="Теплоучёт"></a>
            {% load static %} <a href="../../askue/gas" ><img id="gas-ico" src="{%static "images/gas-ico36.png" %}" alt="Учёт газа"></a>
            {% load static %} <img id="economic-ico" src="{%static "images/economic-ico36.png" %}" alt="Экономика"> -->
    <br>
    <br>
    <span>Дерево объектов</span>
    </div>

    <div id="tree"></div>
</div>
<div id="right-block">
    <div>
	<div id="title-exit">
	{% load static %} <a href="../exit"><img id="exit" src="{%static "images/exit-ico.png" %}" alt="Выход"></a>
	</div>
        <h2 id="system-name">Автоматизированная Система Комплексного Учёта Энергоресурсов</h2>
    
    </div>
    <div id="control-block">
        {% block control-block %}
        <br>
        <br>
        <br>
        <br>
        <span><strong>Для начала работы выберите слева ресурс и объект.</strong></span>
			
        {% endblock %}
    </div>
    <div id="data-block">	
	
        <div id="data-table"></div>
        <span id="QQQ"></span>        
    </div>
	<br><br>
	<div id="myfooter">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    {% load static %} <a target="_blank" href="../../askue/instruction_user" ><img id="user_info-ico48" src="{%static "images/user_info-ico48.png" %}"  title="Инструкция пользователя"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- {% load static %} <a target="_blank" href="../../service/config" ><img id="faq-ico48" src="{%static "images/faq-ico48.png" %}"  title="Часто задаваемые вопросы"></a>&nbsp;&nbsp;&nbsp;&nbsp; -->
		{% load static %} <a target="_blank" href="../../askue/instruction_admin" ><img id="admin_info-ico48" src="{%static "images/admin_info-ico48.png" %}"  title="Инструкция администратора"></a>&nbsp;&nbsp;&nbsp;&nbsp;
		{% load static %} <a target="_blank" href="../../admin" ><img id="admin_panel-ico48" src="{%static "images/admin_panel-ico48.png" %}"  title="Панель администратора"></a>&nbsp;&nbsp;&nbsp;&nbsp;
		{% load static %} <a target="_blank" href="../../service/config" ><img id="admin_config-ico48" src="{%static "images/admin_config-ico48.png" %}"  title="Панель конфигурирования"></a>&nbsp;&nbsp;&nbsp;&nbsp;
		
	<div id="vizitka">
	<span><strong><a href="http://www.prizmer.ru/">ООО "Правильные измерения"</a></strong></span><br>
	 v.1.24.1
    </div>
</div>
</div>



</div>
</body>
</html>
