<html>
    <head>
	<meta charset="utf-8">
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load static %} <script src="{%static "libs/jquery.js" %}" type=text/javascript> </script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load static %} <script src="{%static "libs/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>


    <title> ПАК ПРИЗМЕР| Сервисные настройки |</title>
 <script type="text/javascript">
 $("#electric-ico").click(function(){
        load_service("service_electric");
		});
		
 $("#download-ico").click(function(){
        load_service("service_file");
		});

var isLoaded=0;
var isFirst=1;
var sPath="";
var choice_file="";
var choice_sheet="";
var tcp_ip_status="";
var object_status="";
var counter_status="";
var balance_status="";
var old_meter="";
var new_meter="";
var meter1="";
var meter2="";
			
var load_service = function(page){
        isFirst=1;
		choice_file=$("#choice_file").val();
		choice_sheet=$("#choice_sheet").val();
		old_meter=$("#old_meter").val();
		new_meter=$("#new_meter").val();
		meter1=$("#meter1").val();
		meter2=$("#meter2").val();	
        file30=$("#direct30").val();	
		
		$("span").css("pointer-events", "none");
				
        $.ajax({
        type: "GET",
        url: "/service/"+page,
        beforeSend: function(){show_loader();},
        data:{isFirst:isFirst, choice_file:choice_file, choice_sheet:choice_sheet, tcp_ip_status:tcp_ip_status, object_status:object_status, counter_status:counter_status, old_meter:old_meter, new_meter:new_meter, meter1:meter1,meter2:meter2, balance_status:balance_status, file30:file30},        
       })
	   
	   .done(function( msg ) {
	    tcp_ip_status="{{tcp_ip_status}}";
		object_status="{{object_status}}";
		counter_status="{{counter_status}}";
        $('#data-table').html(msg); // Пишем в div ответ от страницы 
            hide_loader();
			$("span").css("pointer-events", "auto");
        });
    };

function change_wb(){
     console.log($("#choice_file").val());
     choice_file=$("#choice_file").val();
	 
	 $.ajax({
        type: "GET",
        url: "/service/make_sheet",
        beforeSend: function(){show_loader();},
        data:{isFirst:isFirst, choice_file:choice_file},        
       })
	   
	   .done(function( msg ) {
        $('#sheets-block').html(msg); // Пишем в div ответ от страницы 
            hide_loader();
        });
	 };

	 
	 
var show_loader = function(){
    $("#fadingBarsG_1").show();
    $("#fadingBarsG_2").show();
    $("#fadingBarsG_3").show();
    $("#fadingBarsG_4").show();
    $("#fadingBarsG_5").show();
    $("#fadingBarsG_6").show();
    $("#fadingBarsG_7").show();
    $("#fadingBarsG_8").show();
    };
    
var hide_loader = function(){
    $("#fadingBarsG_1").hide();
    $("#fadingBarsG_2").hide();
    $("#fadingBarsG_3").hide();
    $("#fadingBarsG_4").hide();
    $("#fadingBarsG_5").hide();
    $("#fadingBarsG_6").hide();
    $("#fadingBarsG_7").hide();
    $("#fadingBarsG_8").hide();
    };

function upload(event) {
event.preventDefault();
var data = new FormData($('form').get(0));
alert('form find');
$.ajax({
    url: $(this).attr('action'),
    type: $(this).attr('method'),
    data: data,
    cache: false,
    processData: false,
    contentType: false,
    success: function(data) {
        alert('success');		
    }
	

});		
return false;
}

$(function() {
    hide_loader();
    $('form').submit(upload);
	var url      = window.location.href; 
	if (~url.indexOf("/service_file_loading"))
	    { setTimeout(function() {
                 history.back();
                 }, 2000);		
		}
});	


</script>
    </head>
<body>
<div id=layout>
	<div id="right-block">
		<h2 id="system-name-service">Сервисные настройки</h2>
		
		<div id="control-block">
		 {% block control-block %}
		 <br>
		<span><strong> &nbsp;&nbsp; Выберите сервис </strong></span>
		<div id="fadingBarsG">
            <div id="fadingBarsG_1" class="fadingBarsG"></div>
            <div id="fadingBarsG_2" class="fadingBarsG"></div>
            <div id="fadingBarsG_3" class="fadingBarsG"></div>
            <div id="fadingBarsG_4" class="fadingBarsG"></div>
            <div id="fadingBarsG_5" class="fadingBarsG"></div>
            <div id="fadingBarsG_6" class="fadingBarsG"></div>
            <div id="fadingBarsG_7" class="fadingBarsG"></div>
            <div id="fadingBarsG_8" class="fadingBarsG"></div>
        </div> 
		<br>
		<br>
		<div>
		{% load static %} <img onclick="load_service('service_file')" id="download-ico" src="{%static "images/download2-ico64.png" %}" title="Загрузить файл">
		{% load static %} <img onclick="load_service('service_electric')" id="electric-ico" src="{%static "images/digital5-ico64.png" %}" title="Цифровые приборы">
		{% load static %} <img  onclick="load_service('service_water')" id="water-ico" src="{%static "images/impulse5-ico64.png" %}" title="Импульсные приборы">
		{% load static %} <img  onclick="load_service('service_change_electric')" id="change-ico" src="{%static "images/change2-ico64.png" %}" title="Замена счётчиков-электричество и тепло!">
		{% load static %} <img  onclick="load_service('service_get_info')" id="change-ico" src="{%static "images/tech3-ico64.png" %}" title="Информация по объекту">
		{% load static %} <img  onclick="load_service('service_balance_load')" id="balance-ico" src="{%static "images/balance2-ico64.png" %}" title="Загрузка балансных групп">
		{% load static %} <img  onclick="load_service('service_load30_page')" id="load30-ico" src="{%static "images/to_db2-ico64.png" %}" title="Загрузка Профилей мощности">
		{% load static %} <img  onclick="load_service('service_user_account')" id="user-ico" src="{%static "images/users-ico64.png" %}" title="Добавление пользователей ЛК">
		{% load static %} <img  onclick="load_service('service_del_meters')" id="del-ico" src="{%static "images/del-ico64.png" %}" title="Удалёние приборов">
		<p>
		<span><strong>Выберите файл &nbsp;</strong></span>
			<select onchange="change_wb();" name="choice_file" id="choice_file">
			<option value="0"><strong>Выберите файл...</strong></option>
			{% for f in filesFF %}			
			<option value='{{f}}'>{{f}}</option>
			{% endfor %}           
			</select>
			
			<div id="sheets-block" >
			<span>Выберите лист </span>

			</div>
			{% endblock %}
		
	</div>
	<strong>{{status}}</strong>
	<div id="data-block-service">
        <div id="data-table" ></div>
		
        <span id="QQQ"></span>        
    </div>
</div>


<div id="myfooter">
    <div id="vizitka">
        <span><strong><a href="http://www.prizmer.ru/">ООО "Правильные измерения"</a></strong></span><br>
    </div>
</div>
</body>
</html>
