{% extends "base.html" %}

{% block control-block %}
<div class="control-block-wrapper">
    <div class="control-main-panel">
        <div class="control-header">
            <div class="control-icon"> {% load static %} <img  src="{%static "images/new_ico/econom2-ico96.png" %}" alt="Экономический учёт"></div>
            <div class="control-title"> <h3> Отчёты</h3> </div>
            <div class="loading-spinners">
                <div class="spinner-grow text-primary" style="width: 1rem; height: 1rem;"  role="status" id="fadingBarsG_1"><span class="sr-only">Выполняется...</span></div>
                <div class="spinner-grow text-danger" style="width: 1rem; height: 1rem;"  role="status" id ="fadingBarsG_2"><span class="sr-only">Выполняется...</span></div>
                <div class="spinner-grow text-warning" style="width: 1rem; height: 1rem;"  role="status" id="fadingBarsG_3"><span class="sr-only">Выполняется...</span></div>
            </div>
        </div>
        <div class="report-selector">
			<div class="report-dropdown">
				<select id="choice_report" style="width:100%;">
					<option value="0"><strong>Выберите отчёт...</strong></option>
					<!-- <option value="42">42. Отчёт по всем ресурсам на дату</option> -->
					<option value="86">86. Статистика опроса по электрике</option>
					<option value="88">88. Статистика опроса по теплу</option>
					<option value="94">94. Статистика опроса по воде (цифровые ПУ)</option>
					<!-- <option value="1">Потребление за период.</option> -->
					<!-- <option value="2">Показания на дату.</option> -->
					<!-- <option value="3">Показания за период.</option> -->
					<!-- <option value="4">30-мин. срез мощности.</option> -->
					<!-- <option value="6">Часовые приращения энергии</option> -->
					<!-- <option value="7">Удельный расход электроэнергии</option> -->
					<!-- <option value="9">9. Отчёт по всем ресурсам за период</option> -->
					<!-- <option value="42">42. Отчёт по всем ресурсам на дату</option> -->
					<!-- <option value="44">44. Отчёт по электричеству на дату</option> -->
					<!-- <option value="46">46. Отчёт по воде на дату</option> -->
					<!-- <option value="48">48. Отчёт по теплу на дату</option> -->
					<!-- <option value="66">66. Отчёт по теплу и воде на дату. Эльф.</option> -->
					<!-- <option value="76">76. Отчёт по всем ресурсам на дату для абонента</option>  -->								
					<option value="90">90. Статистика опроса по воде (импульсные ПУ)</option> 
					<!-- <option value="92">92. Статистика опроса по всем ресурсам за месяц</option>  -->					
					<!-- <option value="89">89. Отчёт для бухгалтерии по электрике (C-300)</option> -->
					<!-- <option value="93">93. Отчёт для бухгалтерии по воде (C-300)</option> -->
					<!-- <option value="120">120. Отчёт по электрике за год</option>  -->
					<!-- <option value="122">122. Отчёт по воде за год</option>  -->
					<!-- <option value="124">124. Отчёт по теплу за год</option>  -->
					<!-- <option value="139">139. Отчёт по воде для Мосводоканала</option>  -->
					<!-- <option value="143">143. Анализ по расходу электрики</option>
					<option value="145">145. Отчёт по воде для Мосводоканала</option>
					<option value="146">146. Отчёт по воде для Мосводоканала из шаблона</option>
					<option value="148">148. Отчёт по электрике из шаблона</option>
					<option value="151">151. Отчёт по воде для Мосводоканала на 2 даты из шаблона</option>
					<option value="150">150. Отчёт по теплу из шаблона</option>
					<option value="172">172. Отчёт интегральный по электрике из шаблона</option> -->
				</select>
			</div>			
			<div class="report-export" id ="export_report"></div>	
		</div>
    </div>
    <div class="control-side-panel">
        <div class="date-picker-row">
            <div class="date-picker-item" id="datepickerStart">
                <span class="datepicker-content"><strong>Начальная дата:</strong></span>
            </div>
            <div class="date-picker-item" id="datepickerEnd">
                <span class="datepicker-content"><span id="title-date-start"><strong>Конечная дата:</strong></span></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
