{% extends "base.html" %}

{% block control-block %}

	<div class = "col-6">
	
		<div class = "row align-items-center">
			<div class = "col-2" > {% load static %} <img  src="{%static "images/new_ico/heat-ico96.png" %}" alt="Теплоучёт"></div>
			<div class = "col-6" > <h3> Учёт теплопотребления</h3> </div>	

			<div class = "col-3">
			<div class="spinner-grow text-primary" style="width: 1rem; height: 1rem;"  role="status" id="fadingBarsG_1">
			  <span class="sr-only">Выполняется...</span>
			</div>
			<div class="spinner-grow text-danger" style="width: 1rem; height: 1rem;"  role="status" id ="fadingBarsG_2">
			  <span class="sr-only">Выполняется...</span>
			</div>
			<div class="spinner-grow text-warning" style="width: 1rem; height: 1rem;"  role="status" id="fadingBarsG_3">
			  <span class="sr-only">Выполняется...</span>
			</div>			
			
		</div> 
		</div>
		<br>
		<!-- <div class = "row">
			<div class = "col">
				<span><strong>Показания &nbsp;</strong></span>
				<span class="button" data-toggle="tooltip" data-placement="top" title="Месячные показания" id="electric-monthly-button">На начало месяца</span>
				<span class="button" data-toggle="tooltip" data-placement="top" title="Суточные показания" id="electric-daily-button">На начало суток</span>
				<span class="button" id="electric-current-button">Текущие</span> 
			</div>
		</div> -->
		<br>	
		<div class = "row justify-content-start align-self-center item">
			<div class = "col-7">
				<select id="choice_report" style = "width:500;">
					<option value="0"><strong>Выберите отчёт...</strong></option>
					<!-- <option value="1">1. Потребление за период.</option>
					<option value="2">2. Показания на дату.</option>
					<option value="3">3. Показания за период.</option>
					<option value="4">4. 30-мин. срез мощности.</option>
					<option value="6">6. Часовые приращения энергии</option>
					<option value="7">7. Удельный расход электроэнергии</option>

					<option value="10">10. Показания по воде</option>
					<option value="11">11. Потребление за период по воде</option>
					<option value="12">12. Показания по воде с идентификаторами</option> -->
					<option value="18">18. Показания по теплу</option>
					<option value="19">19. Потребление по теплу</option> 
					<option value="20">20. Текущие данные по теплу</option> 
					<option value="30">30. Показания по теплу. Саяны. Отчет 1</option>
					<option value="32">32. Показания по теплу. Саяны. Отчет 2</option>
					<option value="33">33. Расход тепла. Саяны</option>
					<option value="50">50. Показания по теплу. Текон</option>
					<option value="51">51. Потребление по теплу. Текон</option>
					<option value="56">56. Показания по теплу. Теплосчётчик Пульсар</option>
					<option value="59">59. Потребление по теплу. Теплосчётчик Пульсар</option>
					<option value="61">61. Потребление по энергии. Теплосчётчик Пульсар</option>
					<option value="62">62. Показания по энергии. Теплосчётчик Пульсар</option>
					<option value="63">63. Потребление по теплу. Теплосчётчик Эльф</option>
					<option value="64">64. Показания по теплу. Теплосчётчик Эльф</option>
					<option value="74">74. Показания по теплу. Теплосчётчик Карат-307</option>
					<option value="75">75. Потребление по теплу. Теплосчётчик Карат-307</option>
					<option value="81">81. Потребление по теплу. Теплосчётчик Пульсар</option>
					<option value="97">97. Потребление по теплу. Теплосчётчик Danfoss</option>
					<option value="100">100. Показания по теплу. Теплосчётчик Danfoss</option> 
					<option value="110">110. Показания по воде (ТЭМ-104)</option>
					<option value="109">109. Потребеление по воде за период (ТЭМ-104)</option>
					<option value="112">112. Показания по теплу (ТЭМ-104)</option>
					<option value="111">111. Потребеление по теплу за период (ТЭМ-104)</option>
					<option value="116">116. Показания по теплу. Теплосчётчик Пульс СТК</option>
					<option value="115">115. Потребление по теплу. Теплосчётчик Пульс СТК</option>
					<option value="118">118. Показания по холоду. Холодосчётчик Пульсар</option>
					<option value="117">117. Потребление по холоду. Холодосчётчик Пульсар</option>
				</select>
			</div>			
			<div class = "col-2" id ="export_report"></div>	
		</div>
		
			</div>
			
	
	<div class = "col-5 offset-1">
		<div class = "row">
			<div class = "col-3 offset-2"> <div id="datepickerStart"><strong>Начальная дата:</strong></div> </div>
			<div class = "col-3 offset-2"> <div id="datepickerEnd"><span id="title-date-start"><strong>Конечная дата:</strong></span></div>	</div>
		</div>
	</div>
{% endblock %}