{% extends "base.html" %}

{% block control-block %}
<div class="control-block-wrapper">
    <div class="control-main-panel">
        <div class="control-header">
            <div class="control-icon"> {% load static %} <img  src="{%static "images/new_ico/heat-cold-ico96.png" %}" alt="Теплоучёт"></div>
            <div class="control-title"> <h3> Учёт теплопотребления&nbsp;и холодопотребления</h3> </div>
            <div class="loading-spinners">
                <div class="spinner-grow text-primary" style="width: 1rem; height: 1rem;"  role="status" id="fadingBarsG_1"><span class="sr-only">Выполняется...</span></div>
                <div class="spinner-grow text-danger" style="width: 1rem; height: 1rem;"  role="status" id ="fadingBarsG_2"><span class="sr-only">Выполняется...</span></div>
                <div class="spinner-grow text-warning" style="width: 1rem; height: 1rem;"  role="status" id="fadingBarsG_3"><span class="sr-only">Выполняется...</span></div>
            </div>
        </div>
        <div class="report-selector">
			<div class="report-dropdown">
				<select id="choice_report" style="width:100%;">
					<option value="0"><strong>Выберите отчёт...</strong></option>
					<option value="56">56. Показания по теплу. Теплосчётчик Пульсар/ЭкоНом</option>
					<option value="59">59. Потребление по теплу. Теплосчётчик Пульсар/ЭкоНом</option>
					<option value="61">61. Потребление по энергии. Теплосчётчик Пульсар/ЭкоНом</option>
					<option value="62">62. Показания по энергии. Теплосчётчик Пульсар/ЭкоНом</option>
					<option value="130">130. Коды ошибок с теплосчётчика</option>
					<option value="144">144. Показания по теплу. Теплосчётчик Пульсар/ЭкоНом</option>
					<option value="159">159. Потребление по IOT-теплосчётчикам (Энергия)</option>
					<option value="160">160. Показания по IOT-теплосчётчикам (Энергия)</option>
					<option value="162">162. Показания по ВКТ9-теплосчётчикам (Энергия)</option>
					<option value="164">164. Показания по Ридан-теплосчётчикам</option>
					<option value="165">165. Потребление по Ридан-теплосчётчикам</option>
					<option value="168">168. Показания по ВЗЛЕТ-теплосчётчикам</option>
					<option value="169">169. Потребление по ВЗЛЕТ-теплосчётчикам</option>
				</select>
			</div>			
			<div class="report-export" id ="export_report"></div>	
		</div>
    </div>
    <div class="control-side-panel">
        <div class="date-picker-row">
            <div class="date-picker-item" id="datepickerStart">
                <span class="datepicker-content"><strong>Начальная дата:</strong></span>
            </div>
            <div class="date-picker-item" id="datepickerEnd">
                <span class="datepicker-content"><span id="title-date-start"><strong>Конечная дата:</strong></span></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}