{% extends "base.html" %}

{% block control-block %}

<div id="title-subsystem-icon">{% load static %}
<img  src="{%static "images/heat-ico64.png" %}" alt="Теплоучёт"></div> 
<h2 id="title-subsystem">
Учёт теплопотребления</h2>

 

    <br>
    <br>
    <div>
        <span id="title-report"><strong>Отчёты &nbsp;</strong></span>
        <select id="choice_report">
            <option value="0">Выберите отчёт...</option>
             <!-- <option value="1">1. Потребление за период.</option>
            <option value="2">2. Показания на дату.</option>
            <option value="3">3. Показания за период.</option>
            <option value="4">4. 30-мин. срез мощности.</option>
            <option value="6">6. Часовые приращения энергии</option>
            <option value="7">7. Удельный расход электроэнергии</option>

            <option value="10">10. Показания по воде</option>
            <option value="11">11. Потребление за период по воде</option>
            <option value="12">12. Показания по воде с идентификаторами</option> -->
            <option value="18">18. Показания по теплу</option>
            <option value="19">19. Потребление по теплу</option> 
            <option value="20">20. Текущие данные по теплу</option> 
            <option value="30">30. Показания по теплу. Саяны. Отчет 1</option>
			<option value="32">32. Показания по теплу. Саяны. Отчет 2</option>
			<option value="33">33. Расход тепла. Саяны</option>
			<option value="50">50. Показания по теплу. Текон</option>
			<option value="51">51. Потребление по теплу. Текон</option>
			<option value="56">56. Показания по теплу. Теплосчётчик Пульсар</option>
			<option value="59">59. Потребление по теплу. Теплосчётчик Пульсар</option>
			<option value="61">61. Потребление по энергии. Теплосчётчик Пульсар</option>
			<option value="62">62. Показания по энергии. Теплосчётчик Пульсар</option>
			<option value="63">63. Потребление по теплу. Теплосчётчик Эльф</option>
			<option value="64">64. Показания по теплу. Теплосчётчик Эльф</option>
			<option value="74">74. Показания по теплу. Теплосчётчик Карат-307</option>
			<option value="75">75. Потребление по теплу. Теплосчётчик Карат-307</option>
			<option value="81">81. Потребление по теплу. Теплосчётчик Пульсар</option>
		    <option value="97">97. Потребление по теплу. Теплосчётчик Danfoss</option>
			<option value="100">100. Показания по теплу. Теплосчётчик Danfoss</option> 

        </select>
        <div id ="export_report">-------</div>
	<!--	<div id ="export_report_archive">-----</div> -->
    </div>

<div id="datepickerStart"><strong>Начальная дата:</strong></div>
<div id="datepickerEnd"><span id="title-date-start"><strong>Конечная дата:</strong></span></div>
</div>
{% endblock %}
