<!doctype html>

<html>
<head>
<meta charset="utf-8">
{% load static %} <link href="{%static "main.css"%}" rel="stylesheet"/>
<title>ПРИЗМЕР|Вход в систему</title>
</head>
<body class="login">

<div id="container">
<div>
{% load static %} <img id="logo2" src="{%static "images/logo2.svg" %}" alt="ООО Правильные Измерения">
</div>
<div id="content" class="colM">
<div id="content-main">
    <form action="" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            <label for="id_username" class="required">Имя пользователя:</label>
            <input type="text" name="username" id ="id_username">
        </div>
        <div class="form-row">
            <label for="id_password" class="required">Пароль:</label>
            <input type="password" name="password" id="id_password">
        </div>
            {% if login_error %}
               <div>
                <label id="error">{{ login_error }}</label><br>
               </div>
            {% endif %}
        <div class="submit-row">
           <input type="submit" value="Войти">
        </div>
    </form>
</div>
</div>
</div>

</body>
</html>