<html>
<head>
</head>
<body>
<script src="/static/libs/liHighLight.js" type=text/javascript></script>

<!-- <div> Для просмотра детального отчёта нажмите кнопку <strong>"Экспорт"</strong> 
{% load static %} <img  src="{%static "images/top-ico64.png" %}" alt="Экспорт"></div> -->

<div>
	Выберите дату, на которую нужно загрузить показания в шаблон
</div>
<br>
Директория: <b>{{directory}}</b>
<br>
	{% if result %}
		<table class="content" id="data-table">
		{% for value in result %}
			<tr>
			<td><strong>{{value}}</strong></td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}


</body>
</html>