<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Graph plugin-->
	<script type="text/javascript">
	{% if AllData %}
    var ctx = document.getElementById("myChart2").getContext('2d');
	var myChart = new Chart(ctx, {
    type: 'line',
    data: {
		labels:{{label|safe}},
		datasets: {{AllData|safe}},
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
	}
});
	{% endif %}	

	</script>
 
</head>
<body>

<div class="row">
	<div class="col-12" id="comment-title"><h6>Профиль потребления <h6> </div>
</div>
<div class = "row">
<div class="col-11" id="blue-style"><strong>{{abonent}} ({{object}})</strong> </div>
</div>

<br>{% if AllData %}
			<canvas id="myChart2" width="300" height="100"></canvas>						
	{% endif %}
<br>
<strong>min</strong> - значение в 3 раза меньше среднего за последние 7 дней выбранного диапазона
<br>
<strong>max</strong> - значение в 3 раза больше среднего за последние 7 дней выбранного диапазона
<br><br>
<div class="row">
{% if data_table %}
<div class = "col-11">Таблица значений профиля показаний за период с <strong>{{electric_data_start}}</strong> по <strong>{{electric_data_end}}  без учёта Кт</div> 
</div>

<div class="row">
<table class="content" id="data-table" >
<div class="col-11">
<tr>
<th>Дата</th>
<th>T0 A+, кВт*ч</th>
<th>Расход T0 за прошедшие сутки, кВт*ч</th>
<th>T1 A+, кВт*ч</th>
<th>Расход T1 за прошедшие сутки, кВт*ч</th>
<th>T2 A+, кВт*ч</th>
<th>Расход T2 за прошедшие сутки, кВт*ч</th>
<th>T3 A+, кВт*ч</th>
<th>Расход T3 за прошедшие сутки, кВт*ч</th>
</tr>
{% for value in data_table %}
<tr>
<td>{{value.0}}</td>
<td>{{value.5}}</td>
<td>{{value.12|floatformat:2}}</td>
<td>{{value.6}}</td>
<td>{{value.13|floatformat:2}}</td>
<td>{{value.7}}</td>
<td>{{value.14|floatformat:2}}</td>
<td>{{value.8}}</td>
<td>{{value.15|floatformat:2}}</td>
</tr>
   {% endfor %}
</table>
{% else %}
<span><strong>Нет данных.</strong></span>
{% endif %}
</div>
</div>

</body>