<html>
    <head>
    </head>
    <body>
<script src="/static/libs/liHighLight.js" type=text/javascript></script>

<!-- {% load static %} <script src="{%static "libs/jquery.js" %}" type=text/javascript> </script> -->

<!-- 
<br>
<span>Информация о приборе <strong>{{factory_number}}</strong> </span> -->
<br>
<br>
<div class="container">		
	<div class="row">
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/device-ico64.png" %}">
		</div>
		<div class="col-md-11 radius"  style="border-radius: 10px 40px" >
			<div class="row">
				<div class="col-md-2" > Заводской №:
				</div>
				<div class="col-md-6" ><strong>{{factory_number}}</strong>
				</div>
				<div class="col-md-4"><strong>{{data_table.0.5}}</strong>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2"> № считанный:
				</div>
				<div class="col-md-6"><strong>{{data_table.0.7}}</strong>
				</div>
				<div class="col-md-4"> сет. №: <strong>{{data_table.0.6}}</strong>
				</div>
			</div>
		</div>		
	</div>

	<br>
	<div class="row">
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/place-ico64.png" %}">
		</div>
		<div class="col align-self-center radius"  style="border-radius: 10px 40px" > <strong>{{data_table.0.0}}<img src="{%static "images/right-ico20.png" %}">  {{data_table.0.1}} </strong>
		</div>		
	</div>
	<br>
	<div class="row">
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/cable-ico64.png" %}">
		</div>
		
		<div class="col-md-5 align-self-center radius" style="border-radius: 10px 60px"  > <strong>TCP/IP</strong> {{tcp_status}}
		{% if dt_tcp %} 		
		<div class="row">
			<div class="col-md-6"><strong>IP-пор</strong></div>
			<div  class="col-md-6"><strong>{{dt_tcp.0.2}}</strong></div>
			<div class="col-md-6">IP-адрес</div>
			<div  class="col-md-6"><strong>{{dt_tcp.0.3}}</strong></div>
			<div class="col-md-6">Write timeout</div>
			<div  class="col-md-6">{{dt_tcp.0.4}}</div>
			<div class="col-md-6">Read timeout</div>
			<div  class="col-md-6">{{dt_tcp.0.5}}</div>
			<div class="col-md-6">Attempts</div>
			<div  class="col-md-6">{{dt_tcp.0.6}}</div>
			<div class="col-md-6">Delay between sending</div>
			<div  class="col-md-6">{{dt_tcp.0.7}}</div>
		</div>
		{% endif%}
		</div>		
		<div class="col-md-5 align-self-center radius offset-md-1" style="border-radius: 10px 60px"  > <strong>COM </strong>{{com_status}}
		{% if dt_com %} 		
		<div class="row">					
			<div class="col-md-3">Номер</div>
			<div  class="col-md-2"><strong>{{dt_com.0.2}}</strong></div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Baudrate</div>
			<div  class="col-md-2"><strong>{{dt_com.0.3}}</strong></div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Data bits</div>
			<div  class="col-md-2"><strong>{{dt_com.0.4}}</strong></div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Parity</div>
			<div  class="col-md-2">{{dt_com.0.5}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Stop bits</div>
			<div  class="col-md-2"><strong>{{dt_com.0.6}}</strong></div>
			<div  class="col-md-1">||</div>
			<div class="col-md-3">Write, ms</div>
			<div  class="col-md-2">{{dt_com.0.7}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Read, ms</div>
			<div  class="col-md-2">{{dt_com.0.8}}</div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Attempts</div>
			<div  class="col-md-2">{{dt_com.0.9}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Delay</div>
			<div  class="col-md-2">{{dt_com.0.10}}</div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Use GSM</div>
			<div  class="col-md-2">{{dt_com.0.11}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">GSM ном.</div>
			<div  class="col-md-2">{{dt_com.0.12}}</div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">GSM init</div>
			<div  class="col-md-2">{{dt_com.0.13}}</div>
			<div class="col-md-1"></div>
			
		</div>
		{% endif%}
		</div>			
	</div>
	<br>
	<div class="row">
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/dev-ico64.png" %}">
		</div>
		<div class="col align-self-center radius" style="border-radius: 10px 60px"> <strong>Считываемые параметры</strong>
			<div class="row">
			{% if data_table %}
			{% for value in data_table %}
			<div class="col-md-10">{{value.2}}</div>
			
			{% endfor %}
			{% else %}
			<span><strong>Нет данных.</strong></span>
			<br>
			{% endif %}
			</div>
		</div>		
	</div>
		

<!-- 
Тип прибора:  <strong>{{data_table.0.5}}</strong>
<br><br>
Сетевой адрес:  <strong>{{data_table.0.6}}</strong>
<br><br>
Заводской номер из прибора:  <strong>{{data_table.0.7}}</strong>
<br><br>	

Место установки:  <strong>{{data_table.0.0}}  {{data_table.0.1}}</strong>
<br><br>  -->

<!-- Подключение по TCP/IP-порту:
<br>
{% if dt_tcp %} 
<table class="content" >
<tr>
<th>IP-порт</th>
<th>IP-адрес</th>
<th>Write timeout</th>
<th>Read timeout</th>
<th>Attempts</th>
<th>Delay between sending</th>
</tr>
{% for value in dt_tcp %}
<tr>
<td>{{value.2}}</td>
<td>{{value.3}}</td>
<td>{{value.4}}</td>
<td>{{value.5}}</td>
<td>{{value.6}}</td>
<td>{{value.7}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<span><strong>Нет TCP/IP-портов</strong></span>
{% endif %}
<br><br> 
Подключение по COM-порту:
<br>
{% if dt_com %} 
<table class="content" >
<tr>
<th>Номер<th>
<th>Baudrate</th>
<th>Data bits</th>
<th>Parity</th>
<th>Stop bits</th>
<th>Write timeout</th>
<th>Read timeout</th>
<th>Attempts</th>
<th>Delay between sending</th>
<th>Используется GSM-канал</th>
<th>GSM номер телефона</th>
<th>GSM init string</th>
</tr>
{% for value in dt_com %}
<tr>
<td>{{value.2}}</td>
<td>{{value.3}}</td>
<td>{{value.4}}</td>
<td>{{value.5}}</td>
<td>{{value.6}}</td>
<td>{{value.7}}</td>
<td>{{value.8}}</td>
<td>{{value.9}}</td>
<td>{{value.10}}</td>
<td>{{value.11}}</td>
<td>{{value.12}}</td>
<td>{{value.13}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<span><strong>Нет COM-портов</strong></span>
<br>
{% endif %}

<br><br>
Считываемые параметры: <br>
{% if data_table %}
<table class="content" id="data-table" >
<tr>
<th>Имя</th>
</tr>
{% for value in data_table %}
<tr>
<td>{{value.2}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<span><strong>Нет данных.</strong></span>
<br>
{% endif %}
-->


</div>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
