<html>
    <head>
		<script>
		var net_addr = '';
		var load_current = function(page){
			// console.log("Hi");
			net_addr=$('#setevoi').text();
			$.ajax({
				type: "GET",
				url: "/polling/current_m230",
				// beforeSend: alert(net_addr),
				data:{net_addr: net_addr},        
			   })
			   
		   .done(function( msg ) {
			console.log(msg);
			$('#current').html(msg); // Пишем в div ответ от страницы 
			//hide_loader();
			});			

		};
      </script>
    </head>
    <body>
<script src="/static/libs/liHighLight.js" type=text/javascript></script>
<br>
<br>
<div class="col-11">
	<div class="row justify-content-center radius"  style="border-radius: 10px 40px" >
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/device-ico64.png" %}">
		</div>
		<div class="col-md-11" >
			<div class="row">
				<div class="col-md-2" > Заводской №:
				</div>
				<div class="col-md-6" ><strong>{{factory_number}}</strong>
				</div>
				<div class="col-md-4"><strong>{{data_table.0.5}}</strong>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2"> № считанный:
				</div>
				<div class="col-md-6"><strong>{{data_table.0.7}}</strong>
				</div>
				<div class="col-md-4"> сет. №: <strong id="setevoi">{{data_table.0.6}}</strong>
				</div>
			</div>
		</div>		
	</div>

	<br>
	
	<!-- Информация о приборе. Запрос текущих показаний -->
	<div class="row justify-content-center radius"  style="border-radius: 10px 40px">
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/place-ico64.png" %}">
		</div>
		<div class="col-11 align-self-center"  > <strong>{{data_table.0.0}}<img src="{%static "images/right-ico20.png" %}">  {{data_table.0.1}} </strong>
		</div>
		<div id="current values">
			<strong>Здесь будет запрос на текущие показания счётчика</strong>
			<div id = current>
				<p>Нажмите кнопку для запроса данных</p>
			</div>
			<span onclick="load_current('service_replace_electric')" class="button" id="polling_current_values"><b>Текущие</b></span>
		</div>	
	</div>
	<br>
	<div class="row justify-content-center radius" style="border-radius: 10px 60px" >
		<div class="col-1" > 
		{% load static %} <img src="{%static "images/cable-ico64.png" %}">
		</div>		
		<div class="col-5 align-self-center"> <strong>TCP/IP</strong> {{tcp_status}}
		{% if dt_tcp %} 		
		<div class="row">
			<div class="col-md-6"><strong>IP-пор</strong></div>
			<div  class="col-md-6"><strong>{{dt_tcp.0.2}}</strong></div>
			<div class="col-md-6">IP-адрес</div>
			<div  class="col-md-6"><strong>{{dt_tcp.0.3}}</strong></div>
			<div class="col-md-6">Write timeout</div>
			<div  class="col-md-6">{{dt_tcp.0.4}}</div>
			<div class="col-md-6">Read timeout</div>
			<div  class="col-md-6">{{dt_tcp.0.5}}</div>
			<div class="col-md-6">Attempts</div>
			<div  class="col-md-6">{{dt_tcp.0.6}}</div>
			<div class="col-md-6">Delay between sending</div>
			<div  class="col-md-6">{{dt_tcp.0.7}}</div>
		</div>
		{% endif%}
		</div>	

		
		<div class="col-5 align-self-center offset-md-1"> <strong>COM </strong>{{com_status}}
		{% if dt_com %} 		
		<div class="row">					
			<div class="col-md-3">Номер</div>
			<div  class="col-md-2"><strong>{{dt_com.0.2}}</strong></div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Baudrate</div>
			<div  class="col-md-2"><strong>{{dt_com.0.3}}</strong></div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Data bits</div>
			<div  class="col-md-2"><strong>{{dt_com.0.4}}</strong></div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Parity</div>
			<div  class="col-md-2">{{dt_com.0.5}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Stop bits</div>
			<div  class="col-md-2"><strong>{{dt_com.0.6}}</strong></div>
			<div  class="col-md-1">||</div>
			<div class="col-md-3">Write, ms</div>
			<div  class="col-md-2">{{dt_com.0.7}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Read, ms</div>
			<div  class="col-md-2">{{dt_com.0.8}}</div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Attempts</div>
			<div  class="col-md-2">{{dt_com.0.9}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">Delay</div>
			<div  class="col-md-2">{{dt_com.0.10}}</div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">Use GSM</div>
			<div  class="col-md-2">{{dt_com.0.11}}</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">GSM ном.</div>
			<div  class="col-md-2">{{dt_com.0.12}}</div>
			<div class="col-md-1">||</div>
			<div class="col-md-3">GSM init</div>
			<div  class="col-md-2">{{dt_com.0.13}}</div>
			<div class="col-md-1"></div>
			
		</div>
		{% endif%}
		</div>			
	</div>
	<br>
	<div class="row justify-content-center radius" style="border-radius: 10px 60px">
		<div class="col-md-1" > 
		{% load static %} <img src="{%static "images/dev-ico64.png" %}">
		</div>
		<div class="col-11 align-self-center" > <strong>Считываемые параметры</strong>
			<div class="row">
			{% if data_table %}
			{% for value in data_table %}
			<div class="col-md-10">{{value.2}}</div>
			
			{% endfor %}
			{% else %}
			<span><strong>Нет данных.</strong></span>
			<br>
			{% endif %}
			</div>
		</div>		
	</div>
		
</div>

<br>
<br>
</body>
</html>
