<html>
<head>
</head>
<body>
<span>Показания по водосчётчикам ТЭМ-104 на <strong>{{electric_data_end}}</strong></span>
<br>
<span>Местоположение: <strong>{{obj_title}}</strong></span>
<br>

{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Абонент</th>
<th>№ прибора</th>
<th>№ подсистемы</th>
<th>P вх., МПа</th>
<th>P вых., МПа</th>
<th>Q, Гкал</th>
<th>t вх., C</th>
<th>t вых., C</th>
<th>V, м3</th>
</tr>
{% for value in data_table %}
<tr>
<td>{{value.1}}</td>
<td>{{value.5}}</td>
<td>{{value.3}}</td>
<td>{{value.9}}</td>
<td>{{value.11}}</td>
<td><strong>{{value.13}}</strong></td>
<td>{{value.15}}</td>
<td>{{value.19}}</td>
<td>{{value.21}}</td>

</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong></span>
<br>
{% endif %}
</body>
</html>
