<html>
<head>
<script src="/static/libs/liHighLight.js" type=text/javascript></script>
</head>
<body>
&#127777 <span>Показания по IoT-теплосчётчикам на <strong>{{electric_data_end}}</strong></span>
<br>
&#127968; <span>Абонент: <strong>{{obj_parent_title}}  <img src="/static/images/right-ico20.png">  {{obj_title}}</strong></span>
<br>
{{progress}}
{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Абонент</th>
<th>Прибор</th>
<th>Счётчик</th>
<th>Регистратор</th>

<th>Показания, Гкал</th>
</tr>
{% for value in data_table %}
<tr>
<td>{{value.4}}</td>
<td>{{value.14}}</td>
<td><b>{{value.7}}</b></td>
<td>{{value.6}}</td>

<td><strong>{{value.13}}</strong></td>
</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong> 
{% endif %}

<br>
</body>
</html>
