<html>
<head>
</head>
<body>
<script src="/static/liHighLight.js" type=text/javascript></script>
<span>Потребление по теплосчётчикам Пульсар за период с <strong>{{electric_data_start}}</strong> по <strong>{{electric_data_end}}</strong></span>
<br>
<span>Абонент: <strong>{{obj_title}}</strong></span>
<br>
{% if data_table %} 
<table class="content" id="data-table" >
<tr>
<th>Абонент</th>
<th>Счётчик</th>
<th>Показания Энергии на {{electric_data_start}}, Гкал</th>
<th>Показания Энергии на {{electric_data_end}}, Гкал</th>
<th>Расход Энергии, Гкал</th>



</tr>
{% for value in data_table %}
<tr>
<td>{{value.0}}</td>
<td>{{value.1}}</td>
<td>{{value.2}}</td>
<td>{{value.3}}</td>
<td><strong>{{value.4}}</strong></td>


</tr>
{% endfor %}
</table>
{% else %}
<br>
<br>
<span><strong>Нет данных.</strong></span>
<br>
{% endif %}
</body>
</html>
